.People{
display: inline-block;
width: 30%;
margin-right: 25px;
border: 2px solid #ccc;
border-radius: 5px;

box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.14);
height: 512px;
}
.input{}
.input:active,
.input:focus{
  outline: none;
}
.input.green{
  border: 1px solid green;
}
.input.red{
  border: 1px solid red;
}
