

div{
margin: 10px;
border: 1px solid black;
font-size: 20px;
height: 80px;
}
.display {
    font: 300 5rem/1.2 Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    color: rgba(231,10,181,1.00);
    padding: 0.5em;
    font-size: 3em;
    text-align: center;
    background: rgba(211,17,186,1.00);
    border-radius: 40px;
}

.letter {
    color: white; /* Цвет символа */
    font-size: 200%; /* Размер шрифта */
   } 
   p {
    color: rgba(114,3,5,1.00); /* Цвет текста */
   }

body {
    background: #E40BD5;
}
 

.header{
    background-color: #BC1096;
}

