@mixin block {
    width: 50%;   
    height: 100%; 
}

@mixin text {
    padding: 4%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 200%;
}

@mixin arrow {
    cursor: pointer;
    width: 50px;
}


html, body {
    height: 99%;
}

#content {
    width: 100%;
    height: 100%;

    #left_block {
        @include block;
        float: left;

        #title1 {
            @include text;
            padding: 2%;
            font-size: 140%;
            width: 100%;
            margin-left: 15%;
            margin-top: 20%;
            position: relative;
        }

        #text1 {
            @include text;
            padding: 1%;
            font-size: 100%;
            width: 80%;
            margin-left: 16%;
            margin-top: 1%;
            position: relative;
        }

        #title2 {
            @include text;
            padding: 2%;
            font-size: 140%;
            width: 100%;
            margin-left: 15%;
            margin-top: 5%;
            position: relative;
        }

        #text2 {
            @include text;
            padding: 1%;
            font-size: 100%;
            width: 80%;
            margin-left: 16%;
            position: relative;

            .main-quote {
                margin: 1%;
                background-color: chocolate;
            }
        }

        #image-carousel {
            text-align: center;

            img {
                width: 100px;
                height: 100px;
            }

            #left-arrow {
                @include arrow;
                transform: rotate(180deg);
            }
            
            #right-arrow {
                @include arrow;
            }
        }

        #page_number {
            font-size: 200%;
            width: 30%;
            margin-top: 35%;
            margin-left: 60%;
            text-align: center;
        }
    }


    #right_block {
        @include block;
        float: right;
        
        #image {
            height: 80%;
            width: 70%;
            margin-top: 5%;
            margin-left: 5%;
            img {
                width: 100%;
                height: 100%;
            }
        }

        #text {
            @include text;
            width: 102%;
            margin-left: 25%;
            margin-top: -25%;
            position: relative;
        }
    }
}
