  
@mixin important-text {
	color: blue;
 	font-size: 25px;
  }
@mixin important-location{
	
	height: 100%;
	width: 800px;
	position: auto;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#bloc1,#bloc2,#bloc3{
	@include important-location;
	background-color: #E6E6FA;
	opacity: 0.5;
	border: 1px solid #800080;
	margin: 100px auto;
	h1{
		text-align: center;
		@include important-text;
		font-weight: normal;
	}
	p{
		@include important-text;
		text-indent: 20px;
		text-align: justify;
	}
}
