@mixin important-text {
  color: blue;
  font-size: 25px;
}
@mixin important-location{
	width: 100%;
	height: 100%;
	width: 800px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
header {

	#bloc1{
		@include important-location;
		background-color: #E6E6FA;
		opacity: 0.5;
		border: 1px solid #800080;
		margin: 100px auto;
		#bloc2{
			text-align: center;
			@include important-text;
			font-weight: normal;
		}
		#bloc3{
			@include important-text;
			text-indent: 20px;
			text-align: justify;
		}
	}
}